{% extends 'mobile/m_base.html' %}
{% load i18n %}

{% block core %}
<div id="primary">
    <script type="text/javascript">
        var sec = 5;
        var intervalId = setInterval("returnHomePage()", 1000);
        function returnHomePage(){
            if(sec === 0){
                window.location.href = "/";
                clearInterval(intervalId);
            }
            document.getElementById("seconds").innerHTML = sec;
            sec--;
        }
    </script>  
    <div style="text-align:center;padding-bottom:100px;">
        <div id="404"><p style="font-size:96px;padding:50px 0 20px 0px;font-family:&#39;Microsoft YaHei&#39; ">404</p></div>
        <span id="seconds" style="color:#3582c1;font-size:16px;">5</span>
        <p style="padding:40px 0 20px 0px;font-size:13px;">{% trans "You Look Lost, will return home page now! "%}</p>
    </div>
</div>
<style>
    #footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
</style>
{% endblock %}
