{% extends 'mobile/m_base.html' %}
{% load i18n duoshuo_tags %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}ueditor/third-party/SyntaxHighlighter/shCore.min.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
        $(window).load(function() {
            // add div to code table
            $("table.syntaxhighlighter").each(function() {
                var newDiv = $('<div class="syntaxhighlighterDiv"></div>');
                newDiv.append($(this).clone());
                $(this).before(newDiv);
                $(this).remove();
            });
        });
    </script>
{% endblock %}

{% block core %}
<!-- Ad here -->
<content id="content">
    <article id="post-{{ id }}" class="post">
	    <div class="post-header">
		    <h2 class="post-title">{{ title }}</h2>
			<div class="post-data">
			    <span class="post-meta">{{ publish_date_str }}</span>
                <span class="post-meta">{% blocktrans %}Viewed by {{ views_count }} people {% endblocktrans %}</span>
                {% if enable_comment %}
                    <span class="post-meta">
                        <a href="#comments" title="{% blocktrans %}Comments of {{ title }}{% endblocktrans %}">
                            <span class="ds-thread-count" data-thread-key="{{ id }}" data-count-type="comments"></span>
                        </a>
                    </span>
                {% endif %}
			</div>
		</div>	
		<div class="post-content single-post-content">{{ content|safe }}</div>
		<div class="post-footer single-post-footer">
            <span class="post-meta">
                {% trans "Category: " %}<a href="/cate/{{ category_slug }}" rel="category">{{ category_name }}</a>
            </span>
			<span class="post-meta">
			    {% trans "Tag: " %}
                {% for tag in tags %}
                    <a href="/tag/{{ tag.slug }}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %}&nbsp/{% endif %}
                {% endfor %}
			</span>
		</div>			
    </article>
</content>
<div id="comments">
{% if enable_comment %}
{% duoshuo_comments %}
{% else %}
{% trans "Comment of this article has closed." %}
{% endif %}
</div>
{% endblock %}
