{% extends 'mobile/m_base.html' %}
{% load i18n blog_tags %}

{% block scripts %}
    <script type="text/javascript">
        /* turn to the page with given page num when click pagination buttons */
        function turnToPage(amount) {
            var page_num = {{ current_page }} + amount;
            var pathName = window.location.pathname, retUrl = "";
            // match page & cate & tag.
            var matchs = pathName.match(/^\/(page|tag(?:\/[a-z_]+)|search(?:\/[^\/]+)|cate(?:\/[a-z_]+))\/(?:(\d+)\/)?/i)
            if (matchs) {
                retUrl = "/" + matchs[1] + "/" + page_num + "/";
            } else {
                retUrl = "/page/" + page_num + "/";
            }
            if (retUrl != "") window.location.href = retUrl;
        }
    </script>
{% endblock %}

{% block core %}
    <content id="content">
        {% if url_name == "category" or url_name == "tag" or url_name == "search" %}
        <section id="archivecat">
            <div class="postcats">
                <h2>
                    {% if url_name == "category" %}
                    {% blocktrans %}Category: {{ page_title }}{% endblocktrans %}
                    {% elif url_name == "tag" %}
                    {% blocktrans %}Tag: {{ page_title }}{% endblocktrans %}
                    {% else %}
                    {% blocktrans %}Search: {{ page_title }}{% endblocktrans %}
                    {% endif %}
                </h2>
            </div>
            <div class="catdesc"></div>
		</section>
        {% endif %}
        {% if articles|length == 0 %}
            <div class="no-more-article">{% trans "There is no more articles, please return " %}<a href="/">{% trans "homepage" %}</a></div>
            <div class="clear"></div>
        {% else %}
            {% for item in articles %}
            {% render_mobile_article_item item %}
            {% endfor %}
        {% endif %}
    </content>	
    <!-- pagination -->
    <nav id="pagenav">
        {% if has_prev or has_next %}
            <span class="page page-prev{% if not has_prev %} disabled{% endif %}" {% if has_prev %} onclick="turnToPage(-1);"{% endif %}>{% trans "Previous" %}</span>
            <span class="page page-next{% if not has_next %} disabled{% endif %}" {% if has_next %} onclick="turnToPage(1);"{% endif %}>{% trans "Next" %}</span>
        {% endif %}
    </nav>
{% endblock %}
