{% load i18n %}
<article class="post" id="post-{{ id }}">
    <div class="post-header">
        <h2 class="post-title">
            <a class="post-title-link" href="/article/{{ slug }}/" rel="bookmark">{{ title }}</a>
        </h2>
    </div>
    <div class="post-content post-text">
        <p>{{ description|safe }}</p>
    </div>
    <div class="post-footer">
        <span class="post-meta">{{ publish_date_str }}</span>
        <span class="post-meta">
            <a href="/cate/{{ category_slug }}" rel="category">{{ category_name }}</a>
        </span>
        <span class="post-meta">{% blocktrans %}Viewed by {{ views_count }} people {% endblocktrans %}</span>
    </div>
</article>
