#leftnav {
    position: absolute;
    left: 0;
    margin: 0;
    width: 190px;
    background: #f0f0f0;
    -moz-box-shadow: -3px 0 2px #ccc inset;
    -webkit-box-shadow: -3px 0 2px #ccc inset;
    box-shadow: -3px 0 2px #ccc inset;
    padding: 0;
    min-height: 100%;
}

#leftnav h3.first:first-child {
    margin-top: 0;
}

/* new add above*/
.nav-header.first:nth-child(1),.head1 {
    border-bottom: 1px solid #ccc;
    background: url(../images/nav_pic.png) no-repeat 19px -57px;
    background: url(../images/nav_pic.png) no-repeat 19px -57px, -moz-linear-gradient( bottom, #f2f2f2, #f9f9f9);
    background: url(../images/nav_pic.png) no-repeat 19px -57px, -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#f9f9f9));
}

.nav-header.first:nth-child(1).close,.head1.close {
    border-bottom: none;
    background: url(../images/nav_pic.png) no-repeat 19px -57px;
    background: url(../images/nav_pic.png) no-repeat 19px -57px, -moz-linear-gradient( bottom, #f2f2f2, #f9f9f9);
    background: url(../images/nav_pic.png) no-repeat 19px -57px, -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#f9f9f9));
}

.nav-header.first:nth-child(3),.head2 {
    border-bottom: 1px solid #ccc;
    background: url(../images/nav_pic.png) no-repeat 19px -181px;
    background: url(../images/nav_pic.png) no-repeat 19px -181px, -moz-linear-gradient( bottom, #f2f2f2, #f9f9f9);
    background: url(../images/nav_pic.png) no-repeat 19px -181px, -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#f9f9f9));
}

.nav-header.first:nth-child(3).close,.head2.close {
    border-bottom: none;
    background: url(../images/nav_pic.png) no-repeat 19px -181px;
    background: url(../images/nav_pic.png) no-repeat 19px -181px, -moz-linear-gradient( bottom, #f2f2f2, #f9f9f9);
    background: url(../images/nav_pic.png) no-repeat 19px -181px, -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#f9f9f9));
}

#leftnav h3.first>span {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    height: 100%;
    width: 4px;
    -moz-box-shadow: -3px 0 2px #ccc inset;
    -webkit-box-shadow: -3px 0 2px #ccc inset;
    box-shadow: -3px 0 2px #ccc inset;
}

#leftnav h3.first {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #666666;  /*old #000*/
    text-shadow: none;  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); dele*/
    text-transform: uppercase;
    width: 150px;
    margin: 0;
    border-top: 1px solid #ccc;
    height: 43px;
    line-height: 43px;
    padding: 0 0 0 40px;
    position: relative;
}

#leftnav>ul>h3 {
    margin: 0;
    padding: 0 36px;  /*old 15px*/
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}

#leftnav>ul>h3.close {
    /*new change old #leftnav h3.close #leftnav h3.open*/
    background: url(../images/nav_pic.png) no-repeat 17px -26px;
}

#leftnav>ul>h3.open {
    background: url(../images/nav_pic.png) no-repeat 17px 10px;
}
#leftnav>ul>h3.no-child {
    padding:0;
}

#leftnav>ul>h3.no-child>a {
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 36px;
    color: #333;
}

#leftnav h3:hover {
    cursor: pointer;
}

#leftnav ul {
    padding: 0;
    margin: 0;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.nav li {
    list-style: none;
}

.nav li > a {
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #666666;
}

#leftnav>ul>h3:hover, .nav li>a:hover {
    text-decoration: none;
    background-color: #cbcbcb;    /*old #f0f0f0*/
}

#leftnav>ul>h3.no-child.active a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #008cd1;    /*old #387592*/
    border-left: 5px solid #005188;
    padding-left: 32px;
}

.nav li.active a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #008cd1;    /*old #387592*/
    border-left: 5px solid #005188;
    padding-left: 34px;
}

.nav > .pull-right {
    float: right;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;    /*old #999999*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav li + .nav-header {
    margin-top: 9px;
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.nav-list li > a {
    padding: 3px 0 0 39px;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #417690
}

.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-tabs, .nav-pills {
    *zoom: 1;
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    content: "";
    line-height: 0;
}

.nav-tabs:after, .nav-pills:after {
    clear: both;
}

.nav-tabs > li, .nav-pills > li {
    float: left;
}

.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #417690;
}

.nav-stacked > li {
    float: none;
}

.nav-stacked > li > a {
    margin-right: 0;
}

.nav-tabs.nav-stacked {
    border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
    border-color: #ddd;
    z-index: 2;
}

.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.nav .dropdown-toggle .caret {
    border-top-color: #417690;
    border-bottom-color: #417690;
    margin-top: 6px;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: #005580;
    border-bottom-color: #005580;
}

/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover {
    cursor: pointer;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.tabs-stacked .open > a:hover {
    border-color: #999999;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: "";
    line-height: 0;
}

.tabbable:after {
    clear: both;
}

.tab-content {
    overflow: auto;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
    border-bottom-color: transparent;
    border-top-color: #ddd;
}

.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.nav > .disabled > a {
    color: #999999;
}

.nav > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}

.accordion {
    margin-bottom: 20px;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 0;
}

.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}
