global-include *.py *.sh *.xml *.cfg *.po *.mo *.json *.ttf *.jar
graft scripts
graft geekblog/jsi18n
graft geekblog/locale
graft geekblog/static
graft geekblog/templates
graft geekblog/ueditor/static
graft geekblog/ueditor/templates
graft geekblog/admin_tools/locale
graft geekblog/admin_tools/static
graft geekblog/admin_tools/theming/static
graft geekblog/admin_tools/theming/templates
