/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    color: #575757;
    background: #efeff4;
    font-size: 12px;
    font-family: 'Microsoft YaHei', 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    letter-spacing: 1px;
}

img {
    border: 0 none;
}

ol, ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

a {
    outline: 0;
    color: #235699;
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:-moz-placeholder, ::-webkit-input-placeholder {
    color: #575757;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    height: 1px;
    border: none;
    background: #D5D5D5;
    margin: 15px 0;
}

.clear:after {
    content: "";
    height: 0!important;
    clear: both!important;
    font-size: 0!important;
    line-height: 0!important;
    display: block!important;
    visibility: hidden!important;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

img.alignleft {
    margin-top: 5px;
}
/* Font-icon */
@font-face {
    font-family:icomoon;src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:lato;src:url('../fonts/lato.eot');src:url('../fonts/lato.eot?#iefix') format('embedded-opentype'),url('../fonts/lato.woff') format('woff'),url('../fonts/lato.ttf') format('truetype'),url('../fonts/lato.svg#lato') format('svg');font-weight:normal;font-style:normal;
}

.icon-search, .icon-list, .icon-comment, .icon-play, .icon-pause {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search {
   margin-top: 3px;
}
.icon-search:before {
    content: "\e600";
}

.icon-list:before {
    content: "\e601";
}

.icon-comment:before {
    content: "\f0e6";
}

.icon-play:before {
    content: "\e605";
}

.icon-pause:before {
    content: "\e604";
}

/* Slide-Menu */
#slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 50%;
    height: 100%;
    background: #40444b;
    z-index: 0;
    color: #8991a0;
    display: none;
}

#slide-menu >article {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.slide-title {
    font-size: 20px;
    font-weight: bold;
    color: #0084fa;
    height: 54px;
    line-height: 54px;
    position: relative;
    text-align: center;
}

#slide-menu ul {
    display: block;
}

#slide-menu ul li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

#slide-menu ul li a {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    padding: 14px 22px;
    margin: 0;
    color: #fff;
}

#slide-menu ul >li.dropdown >a:before,
#slide-menu ul >li.dropdown >a:after {
    position: absolute;
    background: #fff;
    display: block;
    content: "";
}

#slide-menu ul >li.dropdown >a:after {
    width: 10px;
    height: 2px;
    top: 50%;
    right: 20px;
    margin-top: -1px;
}

#slide-menu ul >li.dropdown >a:before {
    width: 2px;
    height: 10px;
    top: 50%;
    right: 24px;
    margin-top: -5px;
}

#slide-menu ul >li.dropdown >ul {
    display: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

#slide-menu ul >li.dropdown >ul li a {
    background: #373b43;
    border-bottom: 1px solid #40444b;
}

#slide-menu ul >li.dropdown >ul.slide-tags {
    font-size: 0;
}

#slide-menu ul >li.dropdown >ul.slide-tags li {
    display: inline-block;
    width: 50%;
}

#slide-menu ul >li.dropdown.selected ul {
    display: block;
}

#slide-menu ul >li.dropdown.selected >a, 
#slide-menu ul >li.dropdown >ul li a:hover, 
#slide-menu ul li a:hover {
    background: #1c2029;
}

#slide-menu ul >li.dropdown.selected >a:before {
    display: none;
}

#page {
    background: #fff;
    -webkit-transform-origin: 50% 50% 50%;
    -moz-transform-origin: 50% 50% 50%;
    -ms-transform-origin: 50% 50% 50%;
    transform-origin: 50% 50% 50%;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s;
}

body.menu-active #slide-menu, body.menu-active #page {
    overflow: hidden;
}

body.menu-active #page {
    overflow: hidden;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.65);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.65);
    box-shadow: 0 0 20px rgba(0,0,0,0.65);
}

/* Header */
#header {
    width: 100%;
    background: #0084fa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.header-main {
    width: 100%;
    height: 42px;
    position: relative;
    border-bottom: 1px solid #2282E0;
}

.menu-button, .search-button {
    position: absolute;
    font-size: 30px;
    width: 30px;
    height: 30px;
    padding: 6px 12px;
    top: 0;
    left: -2px;
    display: block;
}

.search-button {
    left: auto;
    right: 5px;
}

.submit-button {
    position: absolute;
    font-size: 25px;
    width: 28px;
    height: 24px;
    padding: 13px 10px;
    top: 0;
    left: auto;
    display: block;
    right: 21px;
}

.menu-button .icon-list, .search-button .icon-search, .submit-button .icon-search {
    display: block;
}

.menu-button, .search-button, .submit-button, .header-main, .header-author {
    color: #fff;
}

#drop-down-search {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    display: none;
    padding: 10px;
    background: #40444b;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#drop-down-search .search-text {
    width: 78%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    vertical-align: baseline;
    border-radius: 8px;
    padding: 3px;
}
.logo {
    display: block;
    line-height: 45px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

.logo a {
    color: #fff;
}

.header-author p {
    font-size: 14px;
    font-weight: 600;
}

.logo, .header-author {
    text-align: center;
}

.header-author {
    height: 120px;
    padding-top: 16px;
    border-top: 1px solid #207dd8;
    border-bottom: 3px solid #282828;
}

.header-avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 5px;
    background: rgba(255,255,255,.4);
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}

.header-avatar .avatar {
    display: block;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.mobileBackToTop {
    width: 54px;
    height: 54px;
    background: url(../images/m_top.png) center no-repeat;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 110px;
    _bottom: "auto";
    top: 90%;
    cursor: pointer;
    border-radius: 8px;
    z-index: 99;
}

/* post */
#content {
    display: block;
    padding: 8px 8px;
}

.post {
    padding-top: 30px;
    font-family: lato,Microsoft YaHei,Arial,sans-serif;
}

.post-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title {
    font-size: 18px;
}

.post-tags, .post-tags a {
    color: #8e8e8e;
}

.post-content {
    word-break: break-all;
    margin: 15px 0;
}

.post-thumbnail {
    display: block;
    margin-bottom: 16px;
}

.post-thumbnail >img {
    width: 100%;
    height: auto;
}

.post-content p {
    font-size: 12px;
    line-height: 1.8;
    word-break: break-all;
    overflow: hidden;
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.post-text img {
    width: 100%;
    display: block;
}

.post-footer {
    padding: 7px 0;
    border-bottom: 1px solid #d5d5d5;
}

.post-data {
    margin: 8px 0 25px 0;
}

.post-footer, .post-footer a, .post-data, .post-data a {
    color: #8e8e8e;
}

.post-data span.post-meta, .post-footer span.post-meta {
    margin-right: 10px;
}

.single-post-footer {
    padding-top: 24px;
    font-size: 12px;
}

.single-post-content, .single-post-content p {
    font-size: 12px;
    line-height: 2em;
    margin: 15px 0;
    word-break: break-all;
}

.no-more-article {
    text-align: center;
    padding-top: 50px;
}

/* pagination */
#pagenav {
    margin: 50px 0;
    text-align: center;
}

#pagenav .page {
    display: inline-block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border: 3px solid #dce6d5;
    background: #1e90ff;
    background: -webkit-gradient(linear,left top,left bottom,from(#6AA8E6),to(#1e90ff));
    background: -webkit-linear-gradient(top,#6AA8E6,#1e90ff);
    background: -moz-linear-gradient(top,#6AA8E6,#1e90ff);
    background: -ms-linear-gradient(top,#6AA8E6,#1e90ff);
    background: -o-linear-gradient(top,#6AA8E6,#1e90ff);
    background-image: -ms-linear-gradient(top,#6AA8E6 0%,#1e90ff 100%);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0,inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0,inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0,inset rgba(255,255,255,0.4) 0 1px 0;
}

#pagenav .page:active {
    border: 3px solid #dce6d5;
    background: #6AA8E6;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e90ff),to(#3e779d));
    background: -webkit-linear-gradient(top,#1e90ff,#6AA8E6);
    background: -moz-linear-gradient(top,#1e90ff,#6AA8E6);
    background: -ms-linear-gradient(top,#1e90ff,#6AA8E6);
    background: -o-linear-gradient(top,#1e90ff,#6AA8E6);
    background-image: -ms-linear-gradient(top,#1e90ff 0%,#6AA8E6 100%);
}

.page-prev {
    margin-right: 10px;
}

.page-next {
    margin-left: 10px;
}

#pagenav .page.disabled {
    border: none;
    background: #F2F2F2;
    color: #ccc;
}

/*----------  page-links  ----------*/
#post-links ul {
    display: block;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

#post-links ul li {
    display: inline-block;
    font-size: 12px;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 15px;
    overflow: hidden;
    background: #f9f9f9;
}

#post-links ul li:nth-child(3n) {
    margin-right: 0;
}

#post-links ul li a {
    padding: 5px 10px;
    display: block;
    height: 16px;
    color: #575757;
}

#post-links ul li a img {
    vertical-align: middle;
    padding-right: 5px;
}

/*----------  page-guestbook  ----------*/
#post-guestbook ul {
    display: block;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

#post-guestbook ul li {
    display: inline-block;
    font-size: 12px;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 25px;
    overflow: hidden;
}

#post-guestbook ul li:nth-child(4n) {
    margin-right: 0;
}

#post-guestbook ul li a {
    text-align: center;
    display: block;
    color: #575757;
}

#post-guestbook ul li a .avatar {
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    margin-bottom: 12px;
}

.guest-count {
    position: relative;
    display: inline-block;
    width: 70px;
    text-align: center;
    padding-top: 4px;
    border-top: 1px solid #d5d5d5;
}

.guest-count:nth-of-type(1):before,.guest-count:nth-of-type(1):after {
    position: absolute;
    content: "";
    left: 27px;
    top: -16px;
    width: 0;
    z-index: 99;
    border: solid transparent;
}

.guest-count:nth-of-type(1):before {
    border-color: rgba(255,255,255,0);
    border-bottom-color: white;
    border-width: 8px;
    z-index: 100;
}

.guest-count:nth-of-type(1):after {
    border-bottom-color: #d5d5d5;
    border-width: 9px;
    left: 26px;
    top: -18px;
}

/*----------  page-weibo  ----------*/
.post-weibo {
    padding-top: 40px;
}

.weibo-toppart {
    background: #076ed4;
    padding: 17px 10px 19px 10px;
    color: #fff;
}

.weibo-avatar, .weibo-avatar img {
    width: 60px;
    height: 60px;
}

.weibo-avatar {
    padding: 3px;
    background-color: rgba(255,255,255,.2);
    -webkit-border-radius: 66px;
    -moz-border-radius: 66px;
    border-radius: 66px;
    float: left;
    margin-right: 8px;
}

.weibo-avatar img {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.weibo-user {
    height: 66px;
    padding-bottom: 18px;
    line-height: 33px;
}

.weibo-button {
    color: #fff;
    text-align: center;
    background-color: #68b633;
    background-image: -moz-linear-gradient(top,#acdc7e 0%,#68b633 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#acdc7e),color-stop(100%,#68b633));
    background-image: -webkit-linear-gradient(top,#acdc7e 0%,#68b633 100%);
    background-image: linear-gradient(top,#acdc7e 0%,#68b633 100%);
    box-shadow: 3px solid rgba(81,128,44,.2);
    font-size: 12px;
    margin-top: 5px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

.weibo-user .weibo-button {
    float: right;
    width: 70px;
    height: 24px;
    line-height: 24px;
    display: block;
}

.weibo-statuses {
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.weibo-statuses ul {
    display: block;
    font-size: 0;
}

.weibo-statuses ul li {
    width: 33%;
    height: 38px;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}

.weibo-count {
    border-right: 1px solid rgba(255,255,255,.2);
}

.weibo-text {
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
    line-height: 2em;
    background: #f9f9f9;
}

.weibo-created {
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 0 10px;
    line-height: 28px;
}

.moreweibo {
    width: 210px;
    height: 24px;
    margin: 36px auto 100px auto;
    display: block;
    line-height: 24px;
}

/*----------  page-archive  ----------*/
#post-archives {
    margin-bottom: 55px;
}

.archive-header {
    position: relative;
    margin-top: 25px;
    padding-bottom: 15px;
    height: 20px;
    border-bottom: 1px solid #d5d5d5;
    line-height: 20px;
}

.archive-header-data {
    position: absolute;
    right: 0;
}

.archive-header:before,.archive-header:after {
    position: absolute;
    bottom: -1px;
    left: 30px;
    z-index: 9;
    width: 0;
    border: solid rgba(0,0,0,0);
    content: "";
}

.archive-header:before {
    z-index: 10;
    border-color: rgba(255,255,255,0);
    border-width: 13px;
    border-bottom-color: #fff;
}

.archive-header:after {
    left: 29px;
    border-color: rgba(255,255,255,0);
    border-width: 14px;
    border-bottom-color: #d5d5d5;
}

.archive-header h3 {
    color: #555;
    font-size: 14px;
}

.archive-brick a {
    display: block;
    padding: 0 10px;
    height: 40px;
    color: #555;
    line-height: 40px;
}

.archive-brick:nth-of-type(odd) a {
    background: #f9f9f9;
}

.archive-time {
    float: left;
    padding-right: 8px;
    color: #959595;
}

.archive-data {
    float: right;
    padding-left: 8px;
    color: #959595;
}

/* page-archive */
section#archivecat {
    background: #f9f9f9;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin: 20px 0 0 0;
}

section#archivecat h2 {
    float: left;
    color: #575757;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

section#archivecat p {
    float: right;
    margin: 0;
}

.catdesc {
    color: #959595;
}

/* page-search */
body.search {
    padding: 0;
    border-top: none;
}

.nosearch {
    padding: 30px 0;
    min-height: 360px;
}

/* footer */
#footer {
    border-top: 1px solid #2282E0;
    padding: 10px 0;
    background: #0084fa;
    text-align: center;
    letter-spacing: 1px;
}

#footer, #footer a {
    color: #fff;
}

#footer p {
    margin: 8px 0;
}

/* comment */
#comments {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
}
#ds-thread {
    width: initial!important;
    padding: 0 10px!important;
}

/* syntaxhighlighter */
div.syntaxhighlighterDiv {
    overflow: auto !important;
}

#content .single-post-content {
    margin-bottom: 10px;
}
#content .single-post-content p {
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#content .single-post-content p strong {
    font-size: 13px;
    font-weight: bold;
}
#content .single-post-content p em {
    font-weight: bold;
    font-style: italic;
}

.xmaudio-dot {
    position: absolute;
    bottom: -20px;
    display: block;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-direction: normal,normal;
    -webkit-animation-timing-function: linear,ease-in;
    -moz-animation-iteration-count: infinite,infinite;
    -moz-animation-direction: normal,normal;
    -moz-animation-timing-function: linear,ease-in;
    -o-animation-iteration-count: infinite,infinite;
    -o-animation-direction: normal,normal;
    -o-animation-timing-function: linear,ease-in;
    animation-iteration-count: infinite,infinite;
    animation-direction: normal,normal;
    animation-timing-function: linear,ease-in;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.xmaudio-selected .xmaudio-dot {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes pulse {
    30% {
        opacity: .6;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@keyframes pulse {
    30% {
        opacity: .6;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@-webkit-keyframes drop {
    0% {
        -webkit-transform: translate3d(0,0,0);
    }

    100% {
        -webkit-transform: translate3d(50px,-250px,0);
    }
}

@keyframes drop {
    0% {
        -webkit-transform: translate3d(0,0,0);
    }

    100% {
        -webkit-transform: translate3d(50px,-250px,0);
    }
}

/* Mobile-Devices */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .header-author {
        padding-top: 46px;
        padding-bottom: 30px;
    }

    #content {
        padding: 0 5%;
    }
	@    -webkit-keyframes drop {
        0%{-webkit-transform: translate3d(0,0,0);
    }

    100% {
        -webkit-transform: translate3d(50px,-450px,0);
    }
}
}

@media screen and (min-width:768px) {
    .single-post-footer .post-meta {
        display: block;
        height: 12px;
        line-height: 12px;
        width: 100%;
        overflow: hidden;
        margin-right: 0;
        padding: 5px 0;
    }

    .cominfodiv {
        width: 33%;
        display: block;
        float: left;
    }

    .cominfodiv-email {
        width: 34%;
    }

    #author, #email {
        border-right: none;
    }
}
