@charset "utf-8";
/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent
}

html, body {height: 100%}
body {
    line-height: 1;
    background: #f5f5f5 url(../images/bg.png);
    padding-bottom: 20px;
    font-family: 'Microsoft YaHei', 微软雅黑, Arial, Lucida Grande, Tahoma, sans-serif;
    font-size: 12px;
    color: #000
}

::selection {color: #1E90FF}
::-moz-selection {color: #1E90FF}

table {border-collapse: collapse}

select, input {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

ul, li {list-style: none;}

a {
    outline: 0;
    color: #000;
    text-decoration: none;
    transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
}
a:hover {
    outline: 0;
    color: #0196e3;
    text-decoration: none;
}

code {
    background-color: #f5f5f5!important;
    border: 1px solid #ccc!important;
    padding: 2px 5px!important;
    border-radius: 3px!important;
}

/* webkit scrollbar */
::-webkit-scrollbar-track-piece {
    background-color: #f0f0f0;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #EEE;
    width: 13px
}
::-webkit-scrollbar-thumb {
    min-height: 25px;
    background-color: #0196e3;
    background-clip: padding-box;
    position: relative;
    border-radius: 9999px
}
::-webkit-scrollbar-thumb:vertical {
    border-left: 3px solid transparent;
    border-right: 2px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent
}
::-webkit-scrollbar-thumb:horizontal {
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent
}
::-webkit-scrollbar {width: 13px;height: 13px}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active{background-color: #7d7d7d}
::-webkit-scrollbar-track-piece:vertical {background-image: -webkit-linear-gradient(left, #f0f0f0, #FFF)}
::-webkit-scrollbar-track-piece:horizontal {background-image: -webkit-linear-gradient(top, #f0f0f0, #FFF)}

#center {
    width: 980px;
    overflow: hidden;
    display: block;
    margin-bottom: 60px;
    position: relative;
    margin: 0 auto;
}

.top {
    background: url(../images/top.png) repeat-x;
    height: 6px;
    margin-bottom: 60px;
    border-bottom: 1px solid white;
}

.clear {
    clear: both;
    height: 15px;
}

/* font */
.fw_b {font-weight: bold}
.fw_n {font-weight: normal}
/* margin */
.ma {margin-left: auto; margin-right: auto}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mr10 {margin-right: 10px}
.mr20 {margin-right: 20px}
.ml10 {margin-left: 10px}
.ml20 {margin-left: 20px}
.ml40 {margin-left: 40px}
.mb5 {margin-bottom: 5px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
/* padding */
.pl20 {padding-left: 20px}
.pr20 {padding-right: 20px}
.pb20 {padding-bottom: 20px}
.pb40 {padding-bottom: 40px}
.pt20 {padding-top: 20px}
.plrx{padding:0 5px}
/* float */
.f_r {float: right}
.f_l {float: left}

/** 返回顶部 **/
.backToTop {
    width: 54px;
    height: 54px;
    background: url(../images/back2top.png) center no-repeat;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 110px;
    _bottom: "auto";
    top: 90%;
    cursor: pointer;
    border-radius: 60px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
}
.backToTop:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/* search form */
.search-box {
    position: relative;
    width: 200px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 2px #dfdfdf;
    -moz-box-shadow: 1px 1px 2px #dfdfdf;
    box-shadow: 1px 1px 2px #dfdfdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sb-text {
    height: 15px;
    line-height: 15px;
    margin: 0 auto;
    padding: 8px 40px 8px 10px;
    border: none;
    background: none;
    font-size: 12px;
    color: #666;
    outline: none;
}
.sb-submit {
    background: #f7f8f9;
    background: -webkit-linear-gradient(top, #f7f8f9 0%, #e9e9e9 100%);
    background: -moz-linear-gradient(top, #f7f8f9 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f7f8f9 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f7f8f9 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f8f9', endColorstr='#e9e9e9',GradientType=0);
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    -webkit-box-shadow: 0 1px 0 #f9f9f9 inset, 1px 1px 1px rgba(223,223,223,0.4);
    -moz-box-shadow: 0 1px 0 #f9f9f9 inset, 1px 1px 1px rgba(223,223,223,0.4);
    box-shadow: 0 1px 0 #f9f9f9 inset, 1px 1px 1px rgba(223,223,223,0.4);
    color: #888 !important;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none !important;
    padding: 7px;
    position: absolute;
    right: -2px;
    top: -1px;
    bottom: -1px;
    display: block;
    outline: none;
}
.sb-submit:hover {
    background: #f1f1f1;
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%);
    background: -moz-linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%);
    background: -o-linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%);
    background: linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e0e0e0',GradientType=0);
    text-decoration: none !important;
}

/* footer */
.footer {
    padding: 10px 0;
    margin-bottom: -12px;
    bottom: 0px;
    width: 100%;
    background: url("../images/footer-bg.jpg") repeat;
}
.footerinner {
    font-size: 12px;
    color: #333;
    text-align: center;
}
#copyright {
    color: #fff;
}

/* header navigation */
.header {
    margin-top: -18px;
}

.primary-navigation {
    padding-top: -10px;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-left: 1em;
}

.primary-navigation li {
    display: inline-block;
    margin: 0 1.5em;
    vertical-align: middle;
    color: #333;
}

.ie6 .primary-navigation li, .ie7 .primary-navigation li {
    display: inline;
}

.primary-navigation .logo {
    margin-bottom: -10px;
}

.primary-navigation .logo img {
    display: block;
}

.primary-navigation a {
    display: inline-block;
    padding-bottom: 3px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fefefe;
    border-bottom: 3px solid transparent;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.primary-navigation a:hover {
    border-bottom: 3px solid #1E90FF;
    color: #1E90FF;
}

.ie6 .primary-navigation a {
    border-color: red;
    filter: chroma(color=red);
}

.primary-navigation .logo a, .primary-navigation .logo a:hover {
    border-bottom-color: transparent;
}

/* friend link page */
#link-title-1, #link-title-2, #archive-title {
    font-size: 18px;
    color: #0084fa;
}
#all-links {
    width: 690px;
    margin-bottom: 15px;
    position: relative;
}
#all-links ul {
    height: auto;
    overflow: hidden;
}
#all-links ul li {
    float: left;
    line-height: 34px;
}
#all-links ul li a {
    border-top: 1px solid #DBC9B6;
    border-left: 1px solid #DBC9B6;
    border-bottom: 1px solid #DBC9B6;
    border-right: 1px solid #DBC9B6;
    width: 134px;
    height: 34px;
    display: block;
    padding: 0 8px;
    overflow: hidden;
    color: #000;
}
#all-links ul li a img {
    position: relative;
    top: 3px;
    margin-right: 3px;
    height: 16px;
    width: 16px;
}
#all-links ul li a:hover {
    border-bottom: 2px solid #0084fa;
    background-color: #fff;
    height: 33px;
    color: #1E90FF;
}
#all-links p {
    line-height: 17px;
}

/* archive page */
#archives-content {width: 690px}
#archives-content .year {background: url("../images/ssline.png") 0 0 repeat-y}
#archives-content .year-header {height: 84px}
#archives-content .year-title {
    width: 84px;
    height: 84px;
    line-height: 84px;
    display: block;
    margin-left: -40px;
    font-size: 16px;
    font-weight: 600;
    color: #909090;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
    background: url("../images/archive.png") no-repeat 0 -2px
}
#archives-content .year-title:hover {
    color: #0196e3;
    text-decoration: none;
}
.one-month {padding-bottom: 32px}
.omo-header {
    position: relative;
    color: #909090;
    font-size: 14px;
    text-shadow: 1px 1px 0 #fff;
    height: 27px;
    line-height: 27px;
    padding: 0 0 7px 58px;
    background: url("../images/yearline.png") 0 100% no-repeat
}
.omo-dot {
    position: absolute;
    width: 9px;
    height: 11px;
    left: -4px;
    bottom: -5px;
    background: url("../images/archive.png") no-repeat -95px -68px
}
.omo-list {padding-left: 13px;padding-top:30px}
.omo-post {display: block;padding: 6px 6px 7px 6px;margin-left: 45px}
.omo-post:hover{border-left: 2px solid #0084fa;}
.omo-post .comment a {padding-left: 5px;}
.omo-toggle {
    display: block;
    position: absolute;
    width: 26px;
    height: 27px;
    background: url("../images/archive.png") no-repeat -86px -2px;
    left: 320px;
    top: 0px;
    cursor: pointer
}
.one-month.selected .omo-toggle {background: url("../images/archive.png") no-repeat -86px -31px}
.archives-bottom {height: 150px;background: url("../images/ssbottom.png") 0 0 no-repeat}

#map {
    border: 1px #EDEDED solid;
    background: #FFF;
    margin-top: 15px;
    padding-left: 10px;
    line-height: 25px;
    height: 25px;
}
#map .position {
    height: 25px;
    color: #8F8F8F;
    float: left;
}
#map .position a {
    color: #00a4ef;
}
#container {
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    margin-top: 13px;
    margin-bottom: 20px;
    border: 0px solid #ccc;
    text-align: left;
    width: 1020px;
    box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
}

#blogname a:hover {
    text-decoration: none;
    font-weight: bold;
}
#blogtitle {
    padding-top: 5px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
}

.post-title {
    padding: 3px;
    text-align: center;
    -webkit-box-reflect: below -12px -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(255, 255, 255, .05)), color-stop(100%,rgba(255, 255, 255, .25)));
}
h2.post-title {
    font-size: 1.4em;
    height: 21px;
}
.post-title a:hover {
    color: #0374de;
}
.post-title a {
    text-decoration: none;
    color: #444;
}
.post-header {
    background: url("../images/post.png") no-repeat;
    width: 660px;
    padding: 4px 15px 2px 15px;
}
.post-body {
    position: relative;
    width: 660px;
    text-align: left;
    border: 1px;
    background: url("../images/post-body.png") repeat-y;
    text-shadow: 1px 1px 0px #fff;
    padding: 15px 15px;
}
.post-footer {
    display: inline-block;
    width: 660px;
    background: url("../images/post.png") no-repeat 0 -55px;
    height: 31px;
    padding: 12px 15px 0 15px;
}

.post-body li {
    list-style: none;
}

.post-thumbnail img, .detail-content img {
    z-index: 3;
    max-width: 480px;
    _width: expression((this.offsetWidth > 480) ? '480px' : true);
    height: auto;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    transition: opacity .25s linear;
}
.post-thumbnail img:hover, .detail-content img:hover {
    opacity: 0.75;
}
.post-thumbnail {
    text-align: center;
    margin: 32px 10px 8px 15px;
    _margin: 17px 10px 8px 7px;
}

.post-desc p {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}

.item-bar {
    float: left;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
    padding-left: 8px;
}
.item-bar a, .detail-info a {
    color: #919191;
}
.item-bar a:hover {
    color: #00a4ef;
}

.category-icon, .comment-icon, .view-icon, .tag-icon {
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    padding-left: 18px;
}
.view-icon {
    background: url("../images/view.png") no-repeat;
    background-position: left center;
    color: #919191;
}
.comment-icon {
    background: url("../images/comment.png") no-repeat;
    background-position: left center;
}
.category-icon {
    background: url("../images/category.png") no-repeat;
    background-position: left center;
}
.tag-icon {
    background: url("../images/tag.png") no-repeat;
    background-position: left center;
}

/* Read More Styles */
a.readmore {
    float: right;
    padding: 5px 7px;
    margin-top: -5px;
    background: #00a4ef;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}
.readmore:hover {
    background: #1E90FF;
    padding: 5px 12px;
    text-decoration: none;
}

.no-more-article {
    text-align: center;
    width: 660px;
}

#wrap {
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #00a4ef;
}

.content {
    float: left;
    position: relative;
    color: #575757;
    line-height: 16px;
    letter-spacing: 1px;
    margin: 50px 0;
    padding-left: 8px;
}

/* sidebar styles */
.sidebar {
    float: right;
    width: 238px;
    position: relative;
    color: #575757;
    letter-spacing: 1px;
    margin: 50px 0;
    text-shadow: 1px 1px 0px #fff;
}
.sidebar section {
    margin-bottom: 30px;
    overflow: hidden;
}
.sidebar section h3 {
    width: 238px;
    height: 38px;
    line-height: 38px;
    background: url(../images/sidebar.png) no-repeat;
    text-align: center;
    color: #757575;
    font-size: 14px;
}
.sidebar section .s-item-content {
    position: relative;
    padding: 10px 0px 0px 18px;
    overflow: hidden;
    background: url("../images/s-item-content.png") repeat-y;
}
.sidebar section .s-item-footer {
    width: 238px;
    height: 15px;
    background: url("../images/sidebar.png") no-repeat 0 -40px;
}
/* sidebar newest articles list part */
ul.newest-articles-list li {
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: url("../images/sidebar-item.png") no-repeat scroll -5px 8px transparent;
    border-bottom: 1px dashed #DEDEDE;
    line-height: 32px;
    text-indent: 1.1em;
    width: 205px;
    height: 28px;
    display: block;
    float: left;
    overflow: hidden;
}
ul.newest-articles-list li:hover {
    background: url("../images/sidebar-item.png") no-repeat scroll -5px -21px transparent;
}
/* sidebar view on moblie part */
.sidebar section#s-qrcode img {
    display: block;
    margin-left: 23px;
}
/* sidebar tag list part */
.tag-list {
    margin: 0;
    padding: 0;
}
.tag-list li {
    float: left;
    margin: 0 6px 6px 0;
    list-style: none;
    background: url("../images/tag-label.png") center left no-repeat;
    opacity: .8;
    -webkit-transition: all 0.12s ease-in;
    -moz-transition: all 0.12s ease-in;
    -o-transition: all 0.12s ease-in;
    -ms-transition: all 0.12s ease-in;
    transition: all 0.12s ease-in;
}
.tag-list li a {
    float: left;
    margin-left: 11px;
    padding: 0 6px 0 3px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    background-color: #0084fa;
    text-decoration: none;
}
.tag-list li:hover,.tag-list li:active,.tag-list li:focus {
    opacity: 1;
}
.tag-list li:active {
    position: relative;
    top: 1px;
}
.tag-list li.selected:hover,.tag-list li.selected:active,.tag-list li.selected:focus {
    opacity: 1;
}

.post-body .blog_date {
    position: absolute;
    top: 15px;
    left: -8px;
    width: 62px;
    height: 46px;
    margin: 0;
    padding-top: 10px;
    font-size: 22px;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 1px 0 #0084fa;
    text-align: center;
    background: url("../images/date-bg.png") top left no-repeat;
}
.post-body .blog_date span {
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

/* detail page styles */
.detail-page {
    width: 690px;
}
.detail-header {
    height: 31px;
    padding-top: 15px;
    background: url("../images/post.png") no-repeat;
}
.detail-header .title {
    float: left;
    padding-left: 15px;
    font-size: 16px;
}
.detail-header .date {
    float: right;
    padding-right: 15px;
    text-shadow: 0 -1px #bbb,0 1px #fff;
    color: #e3e1e1;
    font-size: 18px;
}
.detail-content {
    overflow: hidden;
    text-align: left;
    border: 1px;
    background: url("../images/post-body.png") repeat-y;
    text-shadow: 1px 1px 0px #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.detail-info {
    margin-top: 7px;
}
.detail-content .detail-img {
    text-align: center;
}
.detail-content img {
    max-width: 540px;
    margin-top: 20px;
    margin-bottom: 15px;
    _width: expression((this.offsetWidth > 540) ? '540px' : true);
}
.detail-content .detail-article {
    margin-bottom: 10px;
}
.detail-content .detail-article p {
    line-height: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.detail-content .detail-article p strong {
    font-size: 13px;
    font-weight: bold;
}
.detail-content .detail-article p em {
    font-weight: bold;
    font-style: italic;
}
.detail-footer {
    height: 31px;
    padding: 12px 15px 0 15px;
    background: url("../images/post.png") no-repeat 0 -55px;
}
.detail-footer .previous {
    float: left;
    padding-left: 6px;
}
.detail-footer .next {
    float: right;
    padding-right: 6px;
}
.detail-copycat {
    border: 1px dashed #0084fa;
    border-radius: 5px;
    padding: 8px 8px 8px 10px;
    margin: 30px 4px 20px 4px;
}
.detail-copycat:hover {
    border: 1px solid #0084fa;
}
.detail-addr {
    margin-bottom: 10px;
}

/* comment */
#comments {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* syntaxhighlighter */
div.syntaxhighlighterDiv {
    overflow: auto !important;
}
