{% extends 'base.html' %}
{% load i18n blog_tags duoshuo_tags compressed %}

{% block scripts %}
    {% compressed_js "detail" %}
    <script type="text/javascript" src="{{ STATIC_URL }}ueditor/third-party/SyntaxHighlighter/shCore.min.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
        $(document).ready(function() {
            // add image group
            $(".detail-article").find("img").each(function() {
                // if not ueditor emotion img, wrap it with <a> tag.
                if ($(this).attr("src").indexOf("ueditor/dialogs/emotion") == -1) {
                    $(this).wrap("<a class='img-group' href='" + $(this).attr("src") + "' title='" + $(this).attr("title") + "'></a>");
                }
            });
            // assign the Colorbox event to elements
            $(".img-group").colorbox({rel:'img-group', maxWidth: '85%', maxHeight: '85%'});
        });
        $( window ).load(function() {
            // add div to code table
            $("table.syntaxhighlighter").each(function() {
                var newDiv = $('<div class="syntaxhighlighterDiv"></div>');
                newDiv.append($(this).clone());
                $(this).before(newDiv);
                $(this).remove();
            });
        });
    </script>
{% endblock %}
{% block styles %}
    {% compressed_css "detail" %}
{% endblock %}

{% block core %}
<!-- Ad here -->
<div class="detail-page">
    <div class="detail-header">
        <div class="title">{{ title }}</div>
        <div class="date">{{ publish_date_str }}</div>
    </div>

    <div class="detail-content">
        <div class="detail-info">
            <span class="category-icon"><a href="/cate/{{ category_slug }}" title="{% blocktrans %}Views all articles of {{ category_name }} {% endblocktrans %}" rel="category tag">{{ category_name }}</a></span>
            <span class="tag-icon">
                {% for tag in tags %}
                    <a href="/tag/{{ tag.slug }}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %}&nbsp/{% endif %}
                {% endfor %}
            </span>
            <span class="view-icon">{% blocktrans %}Viewed by {{ views_count }} people {% endblocktrans %}</span>
            {% if enable_comment %}
            <span class="comment-icon">
                <a href="#comments" title="{% blocktrans %}Comments of {{ title }}{% endblocktrans %}">
                    {% comment %}
                    {% if comment_count == 0 %}
                        {% blocktrans %}No comments{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Commented by {{ comment_count }} people {% endblocktrans %}
                    {% endif %}
                    {% endcomment %}
                    <span class="ds-thread-count" data-thread-key="{{ id }}" data-count-type="comments"></span>
                </a>
            </span>
            {% endif %}
        </div>
        <div class="detail-img"><a class="img-group" href="{{ thumbnail_url }}" title="{{ title }}"><img width="540" height="270" src="{{ thumbnail_url }}"></img></a></div>
        <div class="detail-article">{{ content|safe }}</div>
    </div>

    <div class="detail-footer">
        <span class="previous">{% trans "Previous："%}
            {% if prev_a %}
            <a href="/article/{{ prev_a.slug }}/" title="{{ prev_a.title }}">{{ prev_a.title|truncatechars:25 }}</a>
            {% else %}
            {% trans "No more previous article" %}
            {% endif %}
        </span>
        <span class="next">{% trans "Next：" %}
            {% if next_a %}
            <a href="/article/{{ next_a.slug }}/" title="{{ next_a.title }}">{{ next_a.title|truncatechars:32 }}</a>
            {% else %}
            {% trans "No more next article" %}
            {% endif %}
        </span>
    </div>
</div>

<div class="detail-copycat">
    <p class="detail-addr">{% trans "Address：" %}<a href="/article/{{ slug }}/">http://xianglong.me/article/{{ slug }}/</a></p>
    <p>{% trans "Statement："%}本站文章，如非注明，皆为<a href="/">{{ site_name }}</a>原创。转载需注明本文链接并保证链接可用。</p>
</div>
<!-- 百度联盟广告代码 -->
<script type="text/javascript">
    /*xianglong_detail*/
    var cpro_id = "u1643205";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
{% comment %}
<!-- 阿里巴巴广告橱窗 -->
<script type="text/javascript">
     document.write('<a style="display:none!important" id="tanx-a-mm_17571358_7092068_23926142"></a>');
     tanx_s = document.createElement("script");
     tanx_s.type = "text/javascript";
     tanx_s.charset = "gbk";
     tanx_s.id = "tanx-s-mm_17571358_7092068_23926142";
     tanx_s.async = true;
     tanx_s.src = "http://p.tanx.com/ex?i=mm_17571358_7092068_23926142";
     tanx_h = document.getElementsByTagName("head")[0];
     if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
</script>
{% endcomment %}

<div id="comments">
{% if enable_comment %}
{% duoshuo_comments %}
{% else %}
{% trans "Comment of this article has closed." %}
{% endif %}
</div>

{% endblock %}
