{% extends 'base.html' %}
{% load i18n blog_tags compressed %}

{% block scripts %}
    {% compressed_js "index" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        /* turn to the page with given page num when click pagination buttons */
        function turnToPage(page_num) {
            var pathName = window.location.pathname, retUrl = "";
            // match page & cate & tag.
            var matchs = pathName.match(/^\/(page|tag(?:\/[a-z_]+)|search(?:\/[^\/]+)|cate(?:\/[a-z_]+))\/(?:(\d+)\/)?/i)
            if (matchs) {
                retUrl = "/" + matchs[1] + "/" + page_num + "/";
            } else {
                retUrl = "/page/" + page_num + "/";
            }
            if (retUrl != "")
                window.location.href = retUrl;
        }
        $(window).load(function() {
            // init the sliders.
            {% if sliders|length != 0 %}
            $('#sliders').renderSliders({
                duration: 700,
                childClassName: '.box',
                captionClassName: '.caption',
                SliderWidth: '940px',
                SliderHeight: '300px',
                width: 600,
                Event: "hover",
                easing: "circEaseOut",
                captionEasing: "circEaseInOut",
                CollapseOnMouseLeave: false,
                CaptionAnimation: "pop-up"
            });
            {% endif %}
            // init pagination element.
            $("#pagination").pagination({
                total: {{ total_page }},
                value: {{ current_page }},
                onChange: function(value) {
                    turnToPage(value);
                }
            });
            createQrCode();

            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        });

    </script>
    <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysUkrlEx">
    </script>
{% endblock %}

{% block styles %}
    {% compressed_css "index" %}
{% endblock %}

{% block sliders %}
<div id="sliders">
    {% for slider in sliders %}
    <div class="box box_{{ forloop.counter }} {% if forloop.counter == 2 %}featured{% endif %}">
        <a href="{{ slider.jump_url }}">
            <img src="{{ slider.image_url }}">
            <div class="caption caption_{{ forloop.counter }}">
                <h1>{{ slider.title }}</h1><p>{{ slider.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block core %}
    <!-- article list: Can add ad in list -->
    {% if articles|length == 0 %}
        <div class="no-more-article">{% trans "There is no more articles, please return " %}<a href="/">{% trans "homepage" %}</a></div>
        <div class="clear"></div>
    {% else %}
        {% for item in articles %}
        {% render_article_item item %}
        {% endfor %}
    {% endif %}
    <!-- pagination -->
    <div id="pagination" class="sp-slider-wrapper">
        <nav title='{% trans "Use left and right key ← → to turn page" %}'>
            <a href="#" class="sp-prev">Previous</a>
            <a href="#" class="sp-next">Next</a>
        </nav>
    </div>
{% endblock %}
