{% load i18n %}
<div class="post" id="post-{{ id }}">
    <div class="post-header"></div>
    <div class="post-body" id="post-{{ id }}">
        <p class="blog_date fw_b">{{ day }}<br><span>{{ month_str }}</span></p>
        <h2 class="post-title"><a href="/article/{{ slug }}/" title="{% blocktrans %}Read the detail of {{ title }} {% endblocktrans %}">{{ title }}</a></h2>
        <p class="post-thumbnail">
            <a href="/article/{{ slug }}/" rel="bookmark" title="{{ tilte }}">
                <img class="lazy" data-original="{{ thumbnail_url }}" alt="{{ title }}" width="480" height="240">
            </a>
        </p>
        <div class="post-desc">{{ description|safe }}</div>
    </div>
    <div class="post-footer">
        <div class="item-bar">
            <span class="category-icon"><a href="/cate/{{ category_slug }}" title="{% blocktrans %}Views all articles of {{ category_name }} {% endblocktrans %}" rel="category tag">{{ category_name }}</a></span>
            <span class="tag-icon">
                {% for tag in tags %}
                    <a href="/tag/{{ tag.slug }}" rel="tag">{{ tag.name }}</a>{% if not forloop.last %}&nbsp/{% endif %}
                {% endfor %}
            </span>
            <span class="view-icon">{% blocktrans %}Viewed by {{ views_count }} people {% endblocktrans %}</span>
            {% if enable_comment %}
            <span class="comment-icon">
                <a href="/article/{{ slug }}/#comments" title="{% blocktrans %}Comments of {{ title }}{% endblocktrans %}">
                    {% comment %}
                    {% if comment_count == 0 %}
                        {% blocktrans %}No comments{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Commented by {{ comment_count }} people {% endblocktrans %}
                    {% endif %}
                    {% endcomment %}
                    <span id="sourceId::{{ id }}" class="cy_cmt_count" ></span> 条评论
                </a>
            </span>
            {% endif %}
        </div>
        <a class="readmore" href="/article/{{ slug }}/" title="{% blocktrans %}Read the detail of {{ title }} {% endblocktrans %}" rel="bookmark">{% trans "Read more" %} >></a>
    </div>
    <div class="clear"></div>
</div>
